footer {
    backdrop-filter: blur(15px);
    padding: 0 1rem;
    border-top: 1px solid rgba(146, 179, 255, 0.3);
    font-family: var(--font-family-secondary);
    position: absolute;
    bottom: 0;
    width: 100%;

    p {
        color: var(--text-light-color);
        font-size: 0.9rem;

    }

    .footer-heart {
        color: var(--primary-color);
        display: inline-block;
        animation: heartBeat 1.5s infinite;
    }
}



@keyframes heartBeat {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(1.1);
    }

    20% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}