header {
    backdrop-filter: blur(5px);
    padding: 0 1rem;
}

header.scrolled {
    background: linear-gradient(to bottom, rgb(255, 255, 255, 0.05), rgba(17, 5, 19, 0.5));
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(146, 179, 255, 0.1);
}

.navbar-brand {
    letter-spacing: 1px;
    font-family: var(--font-family-primary);
    font-weight: bold;
    font-size: var(--h3-size) !important;
    color: var(--primary-color) !important;
}

.nav-link {
    color: var(--text-light-color) !important;
    font-family: var(--font-family-secondary);
    font-size: var(--paragraf-size);
    letter-spacing: 2px;
    font-weight: 700;

}

.nav-link.active {
    color: var(--primary-color) !important;
    text-shadow: 0 0 20px var(--tertiary-color);
    font-weight: 900;
}

.nav-link:hover {
    color: var(--text-color) !important;
}

button.navbar-toggler {
    color: var(--text-color) !important;
    background-color: var(--primary-color) !important;
    border: none !important;
    padding: 0.4rem !important;
}

button.navbar-toggler:hover {
    color: var(--text-color) !important;
    background-color: var(--primary-color) !important;
    border: none !important;
}

button.navbar-toggler:focus {
    box-shadow: none !important;
    border: none !important;
}

.navbar-toggler-icon {
    width: 1.5rem !important;
    height: 1.5rem !important;
}

@media (max-width:900px) {
    .header {
        backdrop-filter: blur(45px);
    }

    .navbar-brand {
        font-size: 1.5rem !important;
    }

    .navbar-nav {
        gap: 1rem !important;
        padding: 1rem !important;
        height: 100vh !important;
    }
}