/*HERO SECTION*/

#hero {
    min-height: 100vh;
    z-index: 999;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(/src/assets/bg-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem 0 6rem;


    .profilePic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .rrss {
            z-index: 200;
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            margin-top: -3rem;
            margin-bottom: 2rem;

            .icon {
                width: 45px;
                height: 45px;
                min-width: 45px;
                background: linear-gradient(135deg, var(--secondary-color), var(--primary-color), var(--tertiary-color));
                border-radius: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--background-color);
                font-weight: bold;
                transition: all 0.3s ease;

                svg {
                    width: 24px;
                    height: 24px;
                }

                &:hover {
                    filter: drop-shadow(0 0 20px rgba(146, 179, 255, 0.5));
                    transform: translateY(-3px);
                }
            }
        }

    }


    .contact-method-icon {
        width: 45px;
        height: 45px;
        min-width: 45px;
        background: linear-gradient(135deg, var(--primary-color), var(--tertiary-color));
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--background-color);
        font-weight: bold;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    img {
        width: 100%;
        height: auto;
        max-width: 550px;
    }
}


h1 {
    color: var(--text-color);
    font-family: var(--font-family-primary);
    font-size: var(--h4-size);
    background: none;

    @media (width>600px) {
        & {
            font-size: var(--h3-size);
        }
    }

    @media (width>1300px) {
        & {
            font-size: var(--h2-size);
        }
    }
}

h2 {
    text-align: center;
    font-family: var(--font-family-primary);
    font-size: var(--h3-size);
    color: var(--primary-color);
    font-weight: 900;
    background-clip: text;
    -webkit-background-clip: text;

    @media (width>600px) {
        & {
            font-size: var(--h2-size);
        }
    }

    @media (width>1300px) {
        & {
            font-size: var(--h1-size);
        }
    }
}

p {
    color: var(--text-light-color);
    font-family: var(--font-family-primary);
    font-size: var(--paragraf-size);
    font-weight: 400;
    letter-spacing: 1px;
    max-width: 50ch;
    margin-top: 1.5rem;
}

.downloadBtn {
    width: 300px;
    height: 50px;
    backdrop-filter: blur(10px);
    background: rgba(17, 5, 19, 0.6);
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    color: var(--primary-color);
    font-family: var(--font-family-secondary);
    font-size: var(--h4-size);
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    z-index: 100;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 20px rgba(146, 179, 255, 0.5);
        /* border-color: rgb(211, 223, 250); 
            color: white;*/
    }

    &:active {
        transform: scale(0.95);
        box-shadow: 0 0 10px rgba(229, 7, 109, 0.6);
    }

    svg {
        margin-left: 5px;
        height: 100%;
    }
}