/*PROJECTS SECTION*/

#projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36rem;
    gap: 4rem;
    position: relative;
    z-index: 0;

    &::before{
        content: '';
        background-image: linear-gradient(to bottom, rgba(17, 5, 19, 0.5), transparent, transparent), url('/src/assets/bg-projects2.png');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 106%;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 2;
    }

    &::after{
        content: url("../assets/fondoProjects\ \(6\).png");
        position: fixed;
        top: 8rem;
        z-index: 0;
    }

    h2 {
        font-family: var(--font-family-primary);
        font-size: var(--h2-size);
        font-weight: bold;
        color: var(--primary-color);
        position: fixed;
        top: 9rem;
    }

    h3 {
        font-family: var(--font-family-primary);
        font-size: var(--h3-size);
        color: var(--text-color);
        text-shadow: 5px 5px 20px rgba(229, 90, 253, 0.9);

    }

    .project-planet-trigger {
        width: 250px;
        max-width: none;
        cursor: pointer;
        z-index: 101;
        position: relative;
        opacity: 0.8;
        transition: transform 0.3s ease, filter 0.3s ease;
        animation: glow 4s infinite ease-in-out, float 5s infinite ease-in-out;
        animation-fill-mode: forwards;
        border-radius: 50%;

        &:hover {
            animation-play-state: paused;
            transform: scale(1.1);
            filter: drop-shadow(0 0 50px var(--secondary-color));
            opacity: 1;
        }
    }

    .planetsContainer{
        gap: 15rem;
        display: flex;
        flex-direction: column;

    }

    article.project-card-details {
        position: fixed;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
        width: 450px;
        max-width: 90%;
        backdrop-filter: blur(10px);
        background-color: rgba(17, 5, 19, 0.5);
        border: 1px solid var(--primary-color);
        color: var(--text-color);
        z-index: 102;
        pointer-events: none;
        text-align: left;
        overflow: hidden;
        transition: opacity 0.4s ease, transform 0.9s ease;

        h4 {
            font-size: var(--h3-size);
            margin-bottom: 0.25rem;
            color: var(--text-color);
        }

        h5 {
            font-size: var(--paragraf-size);
            font-weight: 400;
            margin-bottom: 0.5rem;
            opacity: 0.8;
        }

        .screenshot {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .tech-icons img {
            width: 25px;
            height: 25px;
            margin-right: 5px;
        }

        a {
            width: 100%;
            height: 50px;
            backdrop-filter: blur(10px);
            background: var(--primary-color);
            color: var(--background-color);
            font-family: var(--font-family-secondary);
            font-size: var(--h4-size);
            font-weight: bold;
            text-decoration: none;
            margin-top: 1rem;
            cursor: pointer;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;

            &:hover {
                transform: scale(1.01);
                box-shadow: 0 0 20px rgba(146, 179, 255, 0.5);
                border-color: rgb(211, 223, 250);
            }

            svg {
                
                margin-left: 5px;
                height: 100%;
            }
        }
    }

    .project-planet-trigger.in-view:hover + .project-card-details {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        pointer-events: auto;
        /* Permitir clic */
    }

}
