/*PROJECTS SECTION*/

#projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16rem;
    gap: 4rem;
    position: relative;
    z-index: 0;

    &::before {
        content: '';
        background-image: linear-gradient(to bottom, rgba(17, 5, 19, 0.5), transparent, transparent), url('/src/assets/backgrounds/bg-projects-rocks.png');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 106%;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;
        pointer-events: none;
    }

    &::after {
        content: url("../assets/backgrounds/bg-projects-astronauta.png");
        position: fixed;
        top: 8rem;
        z-index: 0;
    }

    h2 {
        font-family: var(--font-family-primary);
        font-size: var(--h2-size);
        font-weight: bold;
        color: var(--primary-color);
        position: fixed;
        top: 9rem;
    }

    article.project-card-details {
        width: 350px;
        height: fit-content;
        background: linear-gradient(155deg, rgb(17, 5, 19) 60%, rgba(255, 167, 95, 0.274));
        color: var(--text-color);
        box-shadow: 0px 0px 25px rgba(146, 179, 255, 0.415);
        overflow: hidden;
        z-index: 3;
        margin-top: 9rem;
        border: none;
        transition: all 0.3s ease-in-out;

        img {
            width: 100%;
            height: 180px;
            object-fit: cover;
            transition: all 0.6s ease-in-out;
            opacity: 0.9;
        }

        h3 {
            font-family: var(--font-family-secondary);
            font-size: var(--h4-size);
            letter-spacing: 2px;
            margin-bottom: 0.5rem;
            color: var(--tertiary-color);
        }
        
        h4 {
            font-family: var(--font-family-tertiary);
            font-size:  0.8rem;
            line-height: 1.5;
            letter-spacing: 2px;
            margin-bottom: 0.5rem;
            color: var(--text-color);
        }
        
        p {
            font-family: var(--font-family-primary);
            font-size: 0.8rem;
            letter-spacing: 1px;
            font-weight: 400;
            margin-bottom: 0;
            color: var(--text-light-color);
        }

        &:hover {
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
            box-shadow: 0px 0px 40px rgba(146, 179, 255, 0.7);
            background: linear-gradient(155deg, rgb(17, 5, 19) 30%, rgb(85, 2, 78, 0.7) 75%, rgba(255, 167, 95, 0.574));

            & img {
                transform: scale(1.2);
                transition: all 0.3s ease-in-out;
            opacity: 1;
            padding-bottom: 10px;

            }
        }
        
    }

}

@keyframes float {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}